<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ABLLSP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="images/favicon.png" rel="icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>

    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <img src="images/logo.png" alt="">
                <span>ABLLSP</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Structure</span><i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a asp-area="" asp-page="/ABLLSPMember/Index">ABLLSP</a></li>
                            <li><a asp-area="" asp-page="/Prant/Index">Prant</a></li>
                            <li><a asp-area="" asp-page="/PrantMember/Index">Prant Members</a></li>
                            <li><a asp-area="" asp-page="/Shahar/Index">Shahar</a></li>
                            <li><a asp-area="" asp-page="/ShaharMember/Index">Shahar Members</a></li>
                            @*<li><a class="dropdown-item" asp-area="" asp-page="/MatriMonial/Index">MatriMonial</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/FamilyHeadDetails/Index">FamilyHeadInfo</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/MatriMonialAttachment/Index">MatriMonialAttachment</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/FamilyMemberDetails/Index">FamilyMemberInfo</a></li>*@
                            @*<li><a class="dropdown-item" asp-area="" asp-page="/Events/Index">Events</a></li>*@
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" id="navbarDropdownMenuLink"><span>Directory</span><i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a asp-area="" asp-page="/FamilyHeadDetails/Index">FamilyHead Details</a></li>
                            <li><a asp-area="" asp-page="/FamilyMemberDetails/Index">FamilyMembers Details</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" id="navbarMatrimonial"><span>MatriMonial</span><i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a href="/MatriMonial?id=1" >Male Profiles</a></li>
                            <li><a href="/MatriMonial?id=2" >Female Profiles</a></li>
                        </ul>
                    </li>

                    @*<li><a class="nav-link scrollto" asp-area="" asp-page="/MatriMonial/Index">MatriMonial</a></li>*@

                    <li><a class="nav-link scrollto" asp-area="" asp-page="/Events/Index">Events</a></li>


                    @*<li><a class="nav-link scrollto" href="#portfolio">Members</a></li>
                        <li><a class="nav-link scrollto" href="#team">Team</a></li>
                        <li><a href="blog.html">Downloads</a></li>
                        <li class="dropdown">
                            <a href="#"><span>FAQs</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>*@
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="#about">Login</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">ABLLSP</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1 nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink">Structure</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/ABLLSPMember/Index">ABLLSP</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Prant/Index">Prant</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/PrantMember/Index">Prant Members</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Shahar/Index">Shahar</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/ShaharMember/Index">Shahar Members</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/MatriMonial/Index">MatriMonial</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/FamilyHeadDetails/Index">FamilyHeadInfo</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/MatriMonialAttachment/Index">MatriMonialAttachment</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/FamilyMemberDetails/Index">FamilyMemberInfo</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Events/Index">Events</a></li>
                                </ul>
                            </li>

                        </ul>



                    </div>
                </div>
            </nav>
        </header>*@
    @*<section id="GridResult" class="hero d-flex align-items-center">*@
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    @*</section>*@<!-- End GridResult -->
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - ABLLSP - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@



    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h2>जय राम जी | जय झूलेलाल | जय हिंगलाज माँ</h2>

                    <h1 data-aos="fade-up">Welcome to Akhil Bharat Ladi Lohana Sindhi Panchayat</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">
                        Bringing all Ladi Lohana Sindhi on a single platform.
                        Get the member details all over india, latest updates, and many more on this platform
                    </h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>About ABLLSP</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="images/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h3>From the President</h3>
                            <h2>Shri Bhagchand (Kalubhai) Sukhwani</h2>
                            <p>
                                First of all i welcome you do the official website of akhil bharat ladi lohana sindhi panchayat (ABLLSP). ABLLSP is a centralised body of ladi lohana community having 116 city panchayats distributed in seven prants including Saurashtra, North Gujarat, South Gujarat, Maharashtra, Rajasthan, U.P. and M.P.
                            </p>
                            <p>
                                With the aim of making our community digital, this website of ABLLSP has been launched for multiple uses. I hope you like this website.
                            </p>
                            <div class="text-center text-lg-start">
                                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Read More</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="images/about.jpg" class="img-fluid" alt="">
                    </div>

                </div>
            </div>

        </section><!-- End About Section -->
        <!-- ======= Values Section ======= -->
        <section id="values" class="values">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Jay Ram Ji | Jay Jhulelal | Waheguru</h2>
                    <p>“Alone, we can do so little; together, we can do so much” </p>
                </header>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box" data-aos="fade-up" data-aos-delay="200">
                            <img src="images/values-1.png" class="img-fluid" alt="">
                            <h3>Search Member</h3>
                            <p>Search Member from anywhere in India, We have the data collected all over from country.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="fade-up" data-aos-delay="400">
                            <img src="images/values-2.png" class="img-fluid" alt="">
                            <h3>Educational Help</h3>
                            <p>Our Organization provides all kind of possible support to eligible students and professionals.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="fade-up" data-aos-delay="600">
                            <img src="images/values-3.png" class="img-fluid" alt="">
                            <h3>MatriMonial Assistance</h3>
                            <p>To build the community stronger, we also help members to find suitable Matrimonial Profiles.</p>
                        </div>
                    </div>
                    
                </div>

            </div>

        </section><!-- End Values Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-geo-alt"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Prants</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-list" style="color: #ee6c20;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="116" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Shahar Panchayats</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-people" style="color: #15be56;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="7920" data-purecounter-duration="1" class="purecounter"></span>                                
                                <p>Families</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext" style="color: #bb0852;"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="34290" data-purecounter-duration="1" class="purecounter"><b>+</b></span>                                
                                <p>Members</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Our Goal</h2>
                    <p>Connect the dots and build the stronger community</p>
                </header>

                <div class="row">

                    <div class="col-lg-6">
                        <img src="images/features.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                        <div class="row align-self-center gy-4">

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Preserve the Culture</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Build the Unity</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Social Welfare Programs</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Educational Helps</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Health Care Programs</h3>
                                </div>
                            </div>

                            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Spreading Awareness</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div> <!-- / row -->
            </div>

        </section><!-- End Features Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Activities</h2>
                    <p>To encourage people</p>
                </header>

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-box blue">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Samuh Lagn Mahotsav</h3>
                            <p>To carry forward the culture in the same direction suggested by our beloved Sant Shri Swami Lilashah Maharaj.</p>
                            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-box orange">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Saraswati Sanman Samaroh</h3>
                            <p>To encourage the young and emerging students to become leader of the future.</p>
                            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-box green">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Health Care</h3>
                            <p>Frequent Blood Donations camps as well as free diagnostic camps are organized.</p>
                            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-box red">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Festival Celebration</h3>
                            <p>Cheti-Chand (Sindhi New Year) is celebrated with full joy and get together.</p>
                            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-box purple">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Social Services</h3>
                            <p>To help unconditioanlly to the needy ones in all posible ways during tough times</p>
                            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                        <div class="service-box pink">
                            <i class="ri-discuss-line icon"></i>
                            <h3>Financial Help</h3>
                            <p>To revamp the business of the small traders and also provide opprtunity for professionals to study further.</p>
                            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                </div>

            </div>

        </section><!-- End Services Section -->
        
        
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Team</h2>
                    <p>Our hard working team</p>
                </header>

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mr. JaiKishan Bhagchandani</h4>
                                <span>Chief IT Convener</span>
                                <p>Pioneer of the Digital Platform introduction for our community</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mr. Ram Achnani</h4>
                                <span>Chief IT Advisor</span>
                                <p>With abundance experience in Print as well as Digital Media, He has always helped the community in all possible ways</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mr. Prakash Tilwani</h4>
                                <span>Technical Architect</span>
                                <p>Designed the scalable solution and led the team of young and talented developers to achieve the goals of the future</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                            <div class="member-img">
                                <img src="images/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mr. Prem Lalchandani</h4>
                                <span>IT Co-ordinator</span>
                                <p>An emerging star with all qualities of becoming leader of tomorrow and helped the community to all possible ways</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section><!-- End Team Section -->
        <!-- ======= Recent Blog Posts Section ======= -->
        <section id="recent-blog-posts" class="recent-blog-posts">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Events</h2>
                    <p>Recent events organized by our community</p>
                </header>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="post-box">
                            <div class="post-img"><img src="images/events/event1.jpg" class="img-fluid" alt=""></div>
                            <span class="post-date">21 July 2019</span>
                            <h3 class="post-title">Saraswati Sanman Samaroh at Veraval</h3>
                            <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="post-box">
                            <div class="post-img"><img src="images/events/event2.jpg" class="img-fluid" alt=""></div>
                            <span class="post-date">16 February 2019</span>
                            <h3 class="post-title">Samuh Lagna Samaroh at Una</h3>
                            <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="post-box">
                            <div class="post-img"><img src="images/events/event3.jpg" class="img-fluid" alt=""></div>
                            <span class="post-date">25 November 2018</span>
                            <h3 class="post-title">Sneh Milan at Junagadh</h3>
                            <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                </div>

            </div>

        </section><!-- End Recent Blog Posts Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </header>

                <div class="row gy-4">

                    <div class="col-lg-6">

                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>Address</h3>
                                    <p>Junagadh</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bi bi-telephone"></i>
                                    <h3>Call Us</h3>
                                    <p>+91 12345 12345<br>+91 67890 67890</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bi bi-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>info@ladisindhisamaj.com<br>info.abllsp@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bi bi-clock"></i>
                                    <h3>Open Hours</h3>
                                    <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" class="php-email-form">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit">Send Message</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <h4>Our Newsletter</h4>
                        <p>Please subscribe to our newsletters to get regular updates on various activities</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <img src="images/logo.png" alt="">
                            <span>ABLLSP</span>
                        </a>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                    
                        </ul>
                    </div>

                    @*<div class="col-lg-2 col-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>*@

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            Akhil Bharat Ladi Lohana Sindhi Panchayat<br>
                            Junagadh<br>                            
                            <strong>Phone:</strong> +91 12345 12345<br>
                            <strong>Email:</strong> info@ladisindhisamaj.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Akhil Bharat Ladi Lohana Sindhi Panchayat</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                Designed by ABLLSP Development Team</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/purecounter/purecounter.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
