@page
@model ABLLSP.Pages.FamilyHeadDetails.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FamilyHeadInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FamilyHeadInfo.FamilyId" />
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.ShaharId" class="control-label"></label>
                <select asp-for="FamilyHeadInfo.ShaharId" class="form-control" asp-items="ViewBag.ShaharId"></select>
                <span asp-validation-for="FamilyHeadInfo.ShaharId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.FamilyHeadName" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.FamilyHeadName" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.FamilyHeadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.Address" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.Address" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.ContactNo" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.ContactNo" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.EmailId" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.EmailId" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.Origin" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.Origin" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.Status" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.Status" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.UpdatedBy" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.UpdatedBy" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyHeadInfo.UpdatedTime" class="control-label"></label>
                <input asp-for="FamilyHeadInfo.UpdatedTime" class="form-control" />
                <span asp-validation-for="FamilyHeadInfo.UpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
